.fundacion > img {
    margin-top: 0px;
}

.card {
    border-radius: 22px !important;
}

.fundacion-gen {
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 25px 51px;
    margin-top: 25px;
}

@media screen and (min-width: 736px) {
    .container-registro {
        margin-top: 10px;
        background: url('../../images/backgrounds/background-1.png');
        height: 80vh;
    }
    .container-registro > div {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .card {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 736px) {
}