.carousel-indicators [data-bs-target] {
    width: 13px !important;
    height: 10px !important;
    border-radius: 50%;
}

.container-carousel {
    display: flex;
    justify-content: center;
}

.carousel-control-prev-icon {
    background: none !important;
}

.carousel-control-next-icon {
    background: none !important;
}