.contacts > h1 {
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.15em;
    color: #FFFFFF;
}

@media screen and (max-width: 736px) {
    #footer {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .information-contact {
        justify-content: center;
    }

    .logo-footer {
        margin-top: 40px;
        justify-content: center;
    }

    .social-media {
        margin-top: 40px;
        justify-content: center;
    }
}

@media screen and (min-width: 736px) {
    #footer {
        display: flex;
        justify-content: space-between; 
    }
}

.logo-footer {
    text-align: center;
}

.icon-footer {
    margin-top: 0px;
}

.social-media {
    display: flex;
    align-items: center;
}