.logo {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

div > img {
    height: 71px;
    margin-top: 25px;
}

.icons {
    height: auto;
    width: 36px;
    margin-top: 0px;
}

